{% for invitation in users_inivites %}
    <div class="notifications_list_background">
        <a href="profile/{{ user.filter_by(user_id=invitation[0]).first().username }}">
            <div class="image_div_notifications">
                <div class="image-cropper">
                    <img alt="" src={{ url_for('static', filename='images/default/M3AlOLH.jpg') }}/>
                </div>
                <p>
                    {{ user.filter_by(user_id=invitation[0]).first().firstname }}
                    {{ user.filter_by(user_id=invitation[0]).first().lastname }}
                </p>
            </div>
        </a>
    </div>
{% endfor %}