<div style="margin-left: 10px; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: grey">
    <h4>Notifications</h4>
    <hr>
</div>

{% for invitation in users_inivites %}
    {% if user.filter_by(user_id=invitation[0]).first().user_id %}
        <div class="notifications_list_background">
            <a href="{{ user.filter_by(user_id=invitation[0]).first().username }}">
                <div class="image_div_notifications">
                    <div class="image-cropper">
                        <img alt="" src="{{ url_for('static', filename='images/default/M3AlOLH.jpg') }}"/>
                    </div>
                    <p>
                        {{ user.filter_by(user_id=invitation[0]).first().firstname }}
                        {{ user.filter_by(user_id=invitation[0]).first().lastname }}                                                   
                    </p>
                    
                    <form action="{{ url_for('accept_invite') }}" method="POST" style="margin-left: 15px; margin-top: 12px;">
                        <div>
                            <input type="hidden" name="accept_inv" value={{user.filter_by(user_id=invitation[0]).first().user_id}}> 
                            {{ accept_form.accept(class="btn btn-success")}}  
                        </div>

                        <div style="margin-left: 80px; margin-top: -39px; position: absolute;">
                            <input type="hidden" name="discard_inv" value={{user.filter_by(user_id=invitation[0]).first().user_id}}>                    
                            {{ accept_form.discard(class="btn btn-danger")}}                                                       
                        </div>                    
                        {{ accept_form.csrf_token }}
                    </form>                   
                </div>
            </a>           
        </div>
    {% else %}
        {{ pass }}
    {% endif %} 
{% endfor %}