{% extends "layout.html" %}
{% from "form_helper.html" import displayField %}
{% block title %}Content{% endblock %}

{% block search %}

    <div class="dropdown">
        <div class="projects">
            <form name="input_user">
                <input type="text" name="search_text" id="search_text" class="search-input" placeholder="Search">
                <div id="result"></div>
            </form>
        </div>
    </div>

{% endblock %}

{% block contentb %}

    <div style="padding-top: 80px;">

        <div class="grid-container">

            <div class="grid-item" >
              <div class="grid-item-left">
                <div style="position: absolute;"> 
                <p >asjklfhaosf</p>                
              </div>
              </div>
                
             
            </div>

            <div class="grid-item" style="color: black;">              
                <button type="button" class="btn btn-outline-dark create-post" data-toggle="modal" data-target="#exampleModalCenter">
                  Create post
                </button>
                {% if posts %}
                  {% for post in posts %}
                    <div class="container mt-5 mb-5">
                      <div class="row d-flex align-items-center justify-content-center">
                          <div class="col-md-6">
                              <div class="card">
                                  <div class="d-flex justify-content-between p-2 px-3">
                                      <div class="d-flex flex-row align-items-center"> <img src="{{ url_for('static', filename='images/default/M3AlOLH.jpg') }}" width="50px" height="50px" class="rounded-circle">
                                          <div class="d-flex flex-column ml-2"> <span class="font-weight-bold">{{ post.user.firstname }} {{ post.user.lastname }}</span></div>
                                      </div>
                                      {% set date_minutes_float = (now - post.date_posted).total_seconds() / 60%}
                                      {% set date_hours_float = (now - post.date_posted).total_seconds() / 3600%}                                      
                                      {% set date_minutes_string = "{}".format(date_minutes_float) %}
                                      {% set date_hours_string = "{}".format(date_hours_float) %}
                                      {% if date_minutes_float >= 60 %}
                                        <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2"> {{ date_hours_string.split('.')[0] }} hours </small> <i class="fa fa-ellipsis-h"></i> </div>
                                      {% else %}
                                        <div class="d-flex flex-row mt-1 ellipsis"> <small class="mr-2">{{ date_minutes_string.split('.')[0] }} minutes </small> <i class="fa fa-ellipsis-h"></i> </div>
                                      {% endif %}                                    
                                  </div>
                                  {% if post.post_image %}
                                    <img src="{{ url_for('static', filename='images/default/M3AlOLH.jpg') }}" class="img-fluid">
                                  {% else %}
                                    {{ pass }}
                                  {% endif %}
                                  <div class="p-2">
                                      <p class="post-content">{{ post.content }}</p>
                                      <hr>
                                      <div class="d-flex justify-content-between align-items-center">
                                          <div class="d-flex flex-row icons d-flex align-items-center"> <i class="fa fa-heart"></i> <i class="fa fa-smile-o ml-2"></i> </div>
                                          <div class="d-flex flex-row muted-color"> <span>2 comments</span> <span class="ml-2">Share</span> </div>
                                      </div>
                                      <hr>
                                      <div class="comments">
                                          <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/9AZ2QX1.jpg" width="40" class="rounded-image">
                                              <div class="d-flex flex-column ml-2"> <span class="name">Daniel Frozer</span> <small class="comment-text">I like this alot! thanks alot</small>
                                                  <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>18 mins</small> </div>
                                              </div>
                                          </div>
                                          <div class="d-flex flex-row mb-2"> <img src="https://i.imgur.com/1YrCKa1.jpg" width="40" class="rounded-image">
                                              <div class="d-flex flex-column ml-2"> <span class="name">Elizabeth goodmen</span> <small class="comment-text">Thanks for sharing!</small>
                                                  <div class="d-flex flex-row align-items-center status"> <small>Like</small> <small>Reply</small> <small>Translate</small> <small>8 mins</small> </div>
                                              </div>
                                          </div>
                                          <div class="comment-input"> <input type="text" class="form-control">
                                              <div class="fonts"> <i class="fa fa-camera"></i> </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                  {% endfor %}
                {% else %}
                  {{ pass }}
                {% endif %}
              

              <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle" style="color: black;">Create new post</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" style="color: black;">
                      <form method="POST" action="{{ url_for('content') }}">
                        {{ form.hidden_tag() }}                           
                            <div >
                               {{ form.title.label(class="form-control-label") }}
                               {{ displayField(form.title) }}
                                 
                            </div>
                            <div>
                                {{ form.content.label(class="form-control-label") }}
                                {{ displayField(form.content) }}                              
                            </div>                        
                        <div >
                            {{ form.submit(class="btn btn-outline-info") }}
                        </div>
                     </form>
                    </div>                    
                  </div>
                </div>
              </div>
              
              
            </div>
            

            <div class="grid-item">
              <div style="position: fixed;">
                <div style="position: absolute;">
                  <p style="margin-left: 40%;">asjklfhaosf</p>
                </div>
                
              </div>   
              
            </div>

            
        </div>

    </div>

    

{% endblock %}
