{% extends "layout.html" %}
{% block title %}Content{% endblock %}

{% block search %}

    <div class="dropdown">
        <div class="projects">
            <form name="input_user">
                <input type="text" name="search_text" id="search_text" class="search-input" placeholder="Search">
                <div id="result"></div>
            </form>
        </div>
    </div>

{% endblock %}

{% block content %}

    <div class="container" style="position: absolute; padding-top: 75px;">

    </div>

{% endblock %}
