{% extends "layout.html" %}
{% from "form_helper.html" import displayField %}
{% block title %}
    {% if user %}
        Profile | {{ user.username }}
    {% else %}
        User not found
    {% endif %}
{% endblock %}

{% block search %}

    <div class="dropdown">
        <div class="projects">
            <form name="input_user">
                <input type="text" name="search_text" id="search_text" class="search-input" placeholder="Search">
                <div id="result"></div>
            </form>
        </div>
    </div>

{% endblock %}

{% block content %}
    {% if user %}
        <div class="container" style="position: absolute; padding-top: 75px;">
            <div id="content" class="content p-0">
                <div class="profile-header" style="background: url({{ url_for('static', filename='images/default/M3AlOLH.jpg') }}) center no-repeat;">
                    <div class="profile-header-cover"></div>
                    <div class="profile-header-content">
                        <div class="profile-header-img mb-4" style="overflow: hidden;">
                            <img class="mb-4" style="height: 100%;" alt="" src={{ url_for('static', filename='images/default/M3AlOLH.jpg') }} />
                        </div>

                        <div class="profile-header-info">
                            <h4 class="m-t-sm" style="margin-bottom: 95px;">{{ user.firstname }} {{ user.lastname }}</h4>
                            <form action="{{ url_for('user_profile', username=user.username) }}" method="POST" style="width: 48vw;">
                                <div>
                                    {{ form.submit(class="btn btn-dark", style="background-color: #28a745") }}
                                </div>
                                {{ form.csrf_token }}
                            </form>
                        </div>
                    </div>

                    <ul class="profile-header-tab nav">
                        <li class="nav-item"><a href="#profile-post" class="nav-link" data-toggle="tab">POSTS</a></li>
                        <li class="nav-item"><a href="#profile-about" class="nav-link" data-toggle="tab">ABOUT</a></li>
                        <li class="nav-item"><a href="#profile-photos" class="nav-link" data-toggle="tab">PHOTOS</a></li>
                        <li class="nav-item"><a href="#profile-videos" class="nav-link" data-toggle="tab">VIDEOS</a></li>
                        <li class="nav-item"><a href="#profile-friends" class="nav-link active show" data-toggle="tab">FRIENDS</a></li>
                    </ul>
                </div>

                <div class="profile-container">
                    <div class="row row-space-20">
                        <div class="col-md-8">
                            <div class="tab-content p-0">
                                <div class="tab-pane fade" id="profile-post">
                                    asd
                                </div>
                                <div class="tab-pane fade" id="profile-about">
                                    asda
                                </div>
                                <div class="tab-pane fade " id="profile-photos">
                                    <div class="gallery">
                                        {% for picture in directory_img %}
                                            <a data-lightbox="mygallery" href={{ url_for('static', filename='images/users_files/' + picture)}}><img style="width: 300px;"alt="" src={{ url_for('static', filename='images/users_files/' + picture) }}/></a>
                                        {% endfor %}
                                    </div>
                                </div>
                                <div class="tab-pane fade" id="profile-videos">
                                    asdc
                                </div>

                                <div class="tab-pane fade active show" id="profile-friends">
                                    <div class="m-b-10"><b>Friend List ({{ number_of_friends }})</b></div>
                                    <ul class="friend-list clearfix">
                                        {% for friend in friends %}
                                            <li>
                                                <a href="/profile/{{ friend.user.username }}">
                                                    <div class="friend-img"><img style="width:100%; height: 100%;" alt="" src={{ url_for('static', filename='images/default/M3AlOLH.jpg') }}  /></div>
                                                    <div class="friend-info">
                                                        <p>{{ friend.user.firstname }} {{ friend.user.lastname }}</p>
                                                    </div>
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 hidden-xs hidden-sm">
                            <ul class="profile-info-list">
                                <li class="title">PERSONAL INFORMATION</li>
                                <li>
                                    <div class="field">Occupation:</div>
                                    <div class="value">UXUI / Frontend Developer</div>
                                </li>
                                <li>
                                    <div class="field">Skills:</div>
                                    <div class="value">C++, PHP, HTML5, CSS, jQuery, MYSQL, Ionic, Laravel, Phonegap, Bootstrap, Angular JS, Angular JS, Asp.net</div>
                                </li>
                                <li>
                                    <div class="field">Birth of Date:</div>
                                    <div class="value">{{ user.date_of_birth }}</div>
                                </li>
                                <li>
                                    <div class="field">Country:</div>
                                    <div class="value">San Francisco</div>
                                </li>
                                <li>
                                    <div class="field">Address:</div>
                                    <div class="value">
                                        <address class="m-b-0">
                                            Twitter, Inc.<br />
                                            1355 Market Street, Suite 900<br />
                                            San Francisco, CA 94103
                                        </address>
                                    </div>
                                </li>
                                <li>
                                    <div class="field">Phone No.:</div>
                                    <div class="value">
                                        (123) 456-7890
                                    </div>
                                </li>
                                <li class="title">FRIEND LIST ({{ number_of_friends }})</li>
                                <li class="img-list">
                                    {% for friend in friends %}
                                         <a href="/profile/{{ friend.user.username }}" class="m-b-5"><img alt="" src={{ url_for('static', filename='images/default/M3AlOLH.jpg') }} /></a>
                                    {% endfor %}
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% else %}
        <h1>Nie ma takigo użytkownika</h1>
    {% endif %}
{% endblock %}
